<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link 
    href="<%= htmlWebpackPlugin.files.css[css] %>"
    rel="stylesheet">
  <% } %>
  <title>html template</title>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <form class="converter" action="">
        <input class="converter__input" type="number">
        <select class="converter__select" name="" id="">
          <option value="">USD</option>
          <option value="">RUB</option>
          <option value="" selected>EUR</option>
        </select>
        <i class="fas fa-exchange-alt"></i>
        <input class="converter__input" type="number">
        <select class="converter__select" name="" id="">
          <option value="">USD</option>
          <option value="">RUB</option>
          <option value="">EUR</option>
        </select>
      </form>
    </div>
  </div>

  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
