<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link 
    href="<%= htmlWebpackPlugin.files.css[css] %>"
    rel="stylesheet">
  <% } %>
  <title>html template</title>
</head>
<body>
  <div class="container">
    <section>
      <div id="converter" class="row justify-content-center">
        <form action="" class="row row-cols-4 align-items-center">
          <input class="col" type="text">
          <select class="col-2" name="" id="">
            <option value="">пункт</option>
            <option value="">пункт</option>
          </select>
          <div class="col-2 text-center">change</div>
          <input class="col" type="text">
          <select class="col-2" name="" id="">
            <option value="">пункт</option>
            <option value="">пункт</option>
          </select>
        </form>
      </div>
    </section>
  </div>

  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
